# Ignorer les fichiers de configuration
*.conf

# Ignorer les fichiers de log
*.log

# Ignorer les dossiers de cache
.cache/
.vagrant/
.local/
.routine/

# Ignorer les fichiers temporaires
*.tmp
*.bak

# Ignorer le dossier git lui-même
.git/

# Ignorer les fichiers d'historique
*.history

